[2020-01-07 03:18] rikatz opened #1 "Inexistent objects in swagger aren't verified - API Walker"
To the future me:

When you have an API removed from swagger.json it cannot be verified against the API Server, because the normal flow is to check all the deprecated apis from swagger.json and check their existence. If something doesn't exists, we cannot check :(

The solution here is to walk across all the existent resources in the API Server and check if they still exists in swagger.json.

If d

[2020-01-07 04:01] rikatz opened #2 "Change the converter to create a swagger to structured data mapper"
Swagger from Kubernetes uses a lot of different informations.

It would be nice if we could:

* from .definitions extract only fields containing x-kubernetes-group-version-kind
* Create a struct that could be used across all the program:

[code]

This map can be used in the flow:

-> Get all deprecated and check if they exist in the API Server (for, if v.deprecated)
-> Walk through all the APIServ

[2020-01-08 11:34] rikatz commented on #2
Resolved in v0.1.0

[2020-01-08 11:34] #2 closed

[2020-01-08 11:34] rikatz commented on #1
Solved in v0.1.0

[2020-01-08 11:34] #1 closed

[2020-01-08 21:11] rikatz opened #7 "Ignore CRD"
Pug should ignore CRD:

Ex.:

[code]

[2020-01-08 21:11] rikatz opened #8 "Ignore CRD"
Pug should ignore CRD:

Ex.:

[code]

[2020-01-09 12:02] rikatz commented on #7
Duplicate with #8

[2020-01-09 12:02] #7 closed

[2020-01-09 20:08] rikatz commented on #8
Fixed in #9

[2020-01-09 20:09] #8 closed

[2020-01-10 15:03] rikatz opened #10 "Turn pug into a krew plugin"
Self descriptive title :P

[2020-01-10 15:04] rikatz opened #11 "Create json printer"
Create an optional json printer instead of using the tree printing

[2020-01-10 15:05] rikatz opened #12 "Refactor methods"
The whole kubepug runs around the DeprecatedAPIs object.

So instead of passing this map to every function, creating a type and methods for that would be probably better

[2020-01-12 21:59] rikatz opened #13 "Convert the map[string]interface{} loops to unstructured methods from k8s"
Kubernetes already provides a unstructured method to walk through interfaces. Instead of repeating loops, change to this methods

[2020-01-12 22:36] #13 closed

[2020-01-14 19:41] #10 closed

[2020-01-17 17:20] ahmetb opened #24 "don't write to current dir"
Consider just creating a temp dir please.

[2020-01-17 17:21] ahmetb opened #25 "args[0] basename"
[code]

looks like this when installed via krew.

Consider doing something like

[code]

[2020-01-17 17:23] ahmetb opened #26 "doesn't recognize CRDs"
I see #9 was in v0.2.0 but when I just installed every single Istio and Knative CRD/objects showed as deprecated.

[code]

[2020-01-17 17:26] rikatz commented on #26
Hum indeed. I'll take a look to see what happened, I've tested with velero here and it worked fine

Tks for your feedback!

[2020-01-17 17:28] rikatz opened #27 "Add unit tests"
Add some unit tests

[2020-01-17 17:31] rikatz commented on #24
Roger that, this was into my backlog. Tks for the feedback, will put this into the next release

[2020-01-19 20:23] rikatz commented on #26
Corrected, will release a new version with the improvements.

It seems GH got crazy but the code was merged (just tested here).

[2020-01-19 20:23] #26 closed

[2020-01-19 20:24] rikatz commented on #25
Solved in #28

[2020-01-19 20:24] #25 closed

[2020-01-19 20:24] rikatz commented on #24
Solved in #28

[2020-01-19 20:24] #24 closed

[2020-01-26 19:12] #12 closed

[2020-02-17 01:25] mrueg opened #38 "Rename binary to kubectl-pug"
Thanks for writing this plugin!

It would be awesome if the binary can be renamed kubectl-pug in future releases, as per:

https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/#installing-kubectl-plugins
`A plugin is nothing more than a standalone executable file, whose name begins with kubectl-. To install a plugin, simply move its executable file to anywhere on your PATH.`

[2020-02-17 01:26] mrueg opened #39 "Support offline swagger files"
In some environments, internet is inaccessible. It would be great if kubepug had a command line option to support a local file as input.

[2020-02-17 08:47] rikatz commented on #39
Hi @mrueg and thanks for raising the issue. I’m OOO this week but will take a look next week :)

[2020-02-17 12:58] blurpy opened #40 "Aggregated apiserver APIs are marked as removed"
Looks like the APIs of aggregated apiservers like [metrics-server](https://github.com/kubernetes-sigs/metrics-server) are checked against the official swagger and reported removed, which is false:

[code]

[code]

[2020-02-17 16:39] rikatz commented on #40
@blurpy tks for raising this!

I’m OOO this week and will take a look ASAP :)

Thank you

[2020-02-18 12:06] blurpy commented on #40
Thanks for looking into it!

[2020-02-23 19:27] rikatz commented on #39
Hi @mrueg

Kubepug already supports offline execution, thus it's not well documented.

You can download the swagger.json file from ``https://raw.githubusercontent.com/kubernetes/kubernetes/v1.17.0/api/openapi-spec/swagger.json`` (or whatever version you want) to some directory, and point kubepug to use this directory with the flag ``--swagger-dir``.

As an example, imagine you've downloaded the sw

[2020-02-23 19:33] rikatz commented on #38
Hi @mrueg and thanks for raising this.

There was some discussion about this here: https://github.com/kubernetes-sigs/krew-index/pull/438#issuecomment-574893786

And this is why the plugin is called ``deprecations`` and not pug. However if you think this should be different, let me know, we can discuss further :)

And thank you for using the plugin, I hope this keeps being useful :)

[2020-02-23 20:42] #40 closed

[2020-02-23 21:48] rikatz commented on #40
@blurpy Released a new version (v0.2.5) which solves this bug :)

Tks for reporting :)

[2020-02-25 08:08] blurpy commented on #40
Tested, looks good :)

[2020-02-25 14:44] #39 closed

[2020-02-25 14:49] mrueg commented on #39
Thanks for your response @rikatz and thanks for the documentation @chentex

[2020-02-25 14:49] mrueg commented on #38
Yep understood, got it now. Thanks!

[2020-02-25 14:49] #38 closed

[2020-02-27 09:54] chentex commented on #11
I would like to tackle this one.

[2020-02-27 17:51] rikatz commented on #11
@chentex It would be great :)

I was going to take a time to refactor some stuff and make this easy (as instead printing directly putting this into a struct and then creating a Printer Method to allow user to print as json, csv and so on), but go ahead and implement by your ways :)

I'll wait anxiously it :)

Thank you!

[2020-02-28 15:03] chentex commented on #11
So @rikatz , I have been playing a bit with the code and getting some ideas on how to do it correctly, this is my take.

![Kubepug](https://user-images.githubusercontent.com/757508/75559216-5bf03900-5a43-11ea-96b7-9d6c7cfb36f2.png)

(This is your project, so you are entitled to disagree or correct it :+1: )

[2020-03-03 12:47] rikatz commented on #11
@chentex tks for following with this. I think the idea is fine :) I’m traveling a lot in the past (and this) weeks and that’s why I’m taking a bit longer to answer, but I’ll take a better look asap (probably this week)!

But you can start following by this proposal, seems nice to me :)

[2020-03-09 16:11] rikatz commented on #11
@chentex got some time now to read. The idea is great, it's simple and yet will work nicely.

I think it also will allow in a future to implement some other features, as the selection of the indexer (imagine you want to index deprecated objects by namespace instead of apiGroup).

Let me know if you need something else to start working on this, otherwise you can go forward.

Thank you!

[2020-03-18 16:32] chentex commented on #11
I submitted a PR with most of the changes, I am checking an error that I have when I run with the `api-walk` option, as soon as I know why this is happening I will update with the last part.

Since it is a lot of changes it makes sense to me to open a PR to start reviewing.

Let me know if you want to change anything.

(I still have some debug messages in there.)

[2020-03-20 00:44] rikatz commented on #11
Great! I’ll probably take some time in the weekend to start reviewing and testing :)

[2020-04-02 09:15] dependabot-preview[bot] opened #53 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/rikatz/update-logs/28397236).

[2020-04-03 09:16] #53 closed

[2020-04-17 12:13] rikatz opened #60 "Replace all the 'panics' with something more user friendly"
Replace all the 'panics' with something more user friendly

Maybe using "log" package?

[2020-04-21 19:07] #11 closed

[2020-04-21 19:09] rikatz opened #62 "Improve performance"
Since the new library refactor it seems pug is pretty slower, as the following:

[code]

[code]

This needs to be investigated before cutting a new release

[2020-04-21 19:10] rikatz opened #63 "Walker marking all objects deprecated"
API Walker is marking every object (even the in core v1) as deprecated.

Needs to check what's and why this is happening

[2020-04-26 14:45] dguyhasnoname commented on #62
Other way around find deprecations: https://github.com/dguyhasnoname/k8s-day2-ops/blob/master/upgrade/k8s-deprecations.sh

[2020-04-29 06:50] estahn opened #64 "can't have a plugin without specifying file operations"
[code]

[2020-04-29 11:51] rikatz commented on #64
Hi @estahn thanks for raising this.

I'll take a look this friday to check what's happening and will return ASAP.

Thank you

[2020-04-29 12:38] rikatz commented on #64
@estahn I don't have a Mac to test here :(

But I've just made a fresh install of krew and kubepug into Linux and it worked fine. I now this error is returning from krew and not Pug, but I've double checked the releases files and also the plugin configuration in index and it seems right.

Just to know, what's the version of krew you're using? ``kubectl krew info krew``

I'll try to get someone wit

[2020-04-29 14:10] mcristina422 commented on #64
I was able to install kubepug v0.2.6 on a Mac using krew v0.3.2

[2020-04-29 22:14] estahn commented on #64
Thanks for checking this out. I had an old version of krew. It worked after upgrading krew.

[2020-04-29 22:14] #64 closed

[2020-04-29 22:30] rikatz commented on #64
Thank you @mcristina422 and @estahn for using Kubepug :) hope this is useful for you, feel free to open issues whenever needed

[2020-04-30 02:23] estahn commented on #64
It is exactly the tool I was looking for. There are couple others based on OPA policy language, but that requires to build-out the rules by yourself. I like your approach with swagger. 👍

[2020-04-30 02:26] estahn opened #65 "Feature: Use YAML instead of Kubernetes as validation source"
The tool currently checks objects in Kubernetes, which is great. I would also like to add it to our CI/CD to check manifests before they make it to Kubernetes. In that regards, I'd like to either pipe YAML/JSON into the tool and it provides the same output including error codes for the pipeline to fail.

Let me know your thoughts.

[2020-04-30 18:06] rikatz commented on #65
@estahn thanks for raising this feature request :D

I'm putting this into the v1.0.0 release, which will bring also json/yaml output (tks to @chentex ) and will work into this feature during the weekend.

[2020-05-01 19:12] rikatz commented on #62
So it seems that always passing the pure config and always creating a new client, instead of creating a bigger client connection that could be used widely seems much faster.

Specifically [this change](https://github.com/rikatz/kubepug/pull/48/files#diff-6219b4699acdbd3cf8c164bf179cb62cL35-L40)  is what's causing Kubepug to take 40s instead of 2s to populate the Map.

Will continue to debug

[2020-05-01 20:07] rikatz commented on #63
The bug here is: https://github.com/rikatz/kubepug/pull/48/files#diff-a61a589fc1846a156760a088859b2166R134

With the \n in the end, when comparing the struct from KubernetesAPIs with different keys the result was always false, causing the Object to be marked as deleted :)

[2020-05-04 13:19] #63 closed

[2020-05-04 13:20] rikatz commented on #62
Fixed in #66

[2020-05-04 13:20] #62 closed

[2020-05-04 13:21] rikatz commented on #62
Performance improvements:
* Create a query into kubernetes every time instead of passing this as a pointer
* Fix a bug where the comparison between objects in the walker are always false

[2020-05-04 13:21] rikatz commented on #60
Fixed in #66

[2020-05-04 13:21] #60 closed

[2020-05-04 13:22] rikatz commented on #65
Hi @estahn

Didn't got enough time this weekend to finish this, I'm going to cut a release here with the output formatter, and this item is the next in my backlog :)

[2020-05-04 13:43] rikatz commented on #27
Some articles to read:

https://github.com/quii/learn-go-with-tests

[2020-05-04 17:15] grosser opened #67 "exit 1 if upgrade would be a breaking change"
let's say I upgrade to 1.18 ... then I don't need to fix v1.19 deprecations

[code]

so it would be nice if I can get a `exit 1` for "this will break in 1.18" so I can automate this task nicely against all clusters

[2020-05-04 17:53] rikatz commented on #67
@grosser hello and thanks for the issue :D

I was planning to put this flag while dealing also with issue #65 so it makes a lot of sense also the CI breaking :)

I'll put this into the next release and probably work into those features this week :)

[2020-05-04 19:43] estahn commented on #65
Sounds good, thanks for the update :)

[2020-05-04 19:53] grosser opened #68 "parseable output format --json or so ?"
we have lots of teams on our cluster, so having a way to get back "these 2 deployments are deprecated" in json would enable us to lookup up which team owns them and then send out notifications

[2020-05-05 14:30] rikatz commented on #68
@grosser sorry, I'm a little bit slow this morning :)

Can you provide what output you expect?

Thank you!

[2020-05-05 15:20] rikatz commented on #65
@estahn I'm moving this to the next milestone as this might be more tricky than I figured out :) But no worries, soon or later (I hope sooner than later) this will get it into kubepug.

[2020-05-05 15:22] grosser commented on #68
anything that is not plain-text, for example:
[code]

[2020-05-05 18:13] #67 closed

[2020-05-05 18:44] grosser commented on #67
:D

On Tue, May 5, 2020 at 11:13 AM Ricardo Katz <notifications@github.com>
wrote:

[2020-05-05 19:07] rikatz commented on #68
the latest version supports json output, as the following: kubepug --format json
[code]

It's not prettified, but it's parseable

[2020-05-05 19:20] grosser commented on #68
awesome, thx!

On Tue, May 5, 2020 at 12:07 PM Ricardo Katz <notifications@github.com>
wrote:

[2020-05-05 20:30] rikatz commented on #68
I'll close then, but if this doesn't fit what you think is needed please feel free to reopen!

[2020-05-05 20:30] #68 closed

[2020-05-05 21:07] grosser commented on #68
hmmm wanted to try this, but there is no new tag and I need a binary to download :)

[2020-05-05 21:16] rikatz commented on #68
This is already at https://github.com/rikatz/kubepug/releases/tag/v1.0.0

The exit code flag will be released at v1.0.1 tomorrow :D

[2020-05-05 21:24] grosser commented on #68
ahhh I though you just added it, all good then :D

On Tue, May 5, 2020 at 2:16 PM Ricardo Katz <notifications@github.com>
wrote:

[2020-05-07 21:46] rikatz commented on #67
Now present in v1.0.1

[2020-05-07 22:18] grosser commented on #67
thx!

[2020-05-08 05:26] mstoetzer opened #71 "Output kubepug's version"
Is there a way to output kubepug's own version? To see if I need to upgrade the Pre UpGrade (Checker) ;-)

[2020-05-10 15:43] codescalar opened #72 "Deprecated resource being shown in multiple API groups"
Thank you for your work on this project, seems very useful!

I installed kubepug just now and I'm seeing resources being flagged as deprecated in multiple API groups which creates a lot of noise. An example of what I mean:

On my v1.15 cluster, `kubectl deprecations --k8s-version=v1.16.0` returns:

[code]

This is happening for all resource groups (i.e Replicasets, Ingress, etc), not just Deployme

[2020-05-10 15:48] codescalar commented on #72
I should also mention that some of the deprecated resources being returned were in fact created using the latest api version (e.g. apps/v1 for Deployments) but are still shown as deprecated (e.g. extensions/v1beta1 for Deployments) by kubepug.

Seems like the same issue related to how kubepug is requesting the resource and how the k8s api server marshalls between api versions depending on the clie

[2020-05-10 18:07] rikatz commented on #72
@codescalar tks for raising this issue!

I'll take a look during this week and the next. The program makes a map of all existing objects in the current swagger and checks which have the 'deprecated' text in their description, trying to get them and so yes, this might happen. Didn't realize that the API could return all of them even if the stable object also exists :)

I'll figure out a way to corr

[2020-05-10 18:08] rikatz commented on #71
Oh this is embarrassing :/ I'll ship it ASAP, as this is pretty simple to correct :)

Thank you!

[2020-05-10 18:39] codescalar commented on #72
No problem and no rush, just wanted to let you know! I didn't realize the
API server had this behavior either until just today :)

On Sun, May 10, 2020, 13:07 Ricardo Katz <notifications@github.com> wrote:

[2020-05-10 18:59] rikatz commented on #65
Writing some use cases here so I won't forget:

* User supplies a single file, with a single object:
[code]

* User supplies a single file with multiple objects:
[code]
* User supplies a dir with multiple yaml files, with both cases as the above. Question here: should the program support and try to unmarshall all files in a directory, skipping files that it cannot understand or should it look into

[2020-05-10 19:09] #71 closed

[2020-05-11 14:11] mstoetzer commented on #71
You're great! Thank you :)

[2020-05-12 02:57] estahn commented on #65
@rikatz I think the most likely is a single file with multiple objects, e.g. `kustomize` or `helm template`.

[2020-05-17 19:32] rikatz commented on #65
Started this in branch https://github.com/rikatz/kubepug/tree/input-files

[2020-05-26 20:50] estahn commented on #65
@rikatz How is it going with the input files? Do you need some help?

[2020-05-26 21:33] rikatz commented on #65
Hi @estahn :)

I’m pretty crowded with work here, that’s why I’m not taking care of this issue right now ;(

I was also thinking about using this to refactor some parts of the code but if you got some PR already in mind or wanna help with this one please feel free to open the PR :)

Thank you :)

[2020-05-30 20:14] rikatz opened #77 "Rewrite the program logics to be more k8s cluster decoupled"
While dealing with #65 I've remembered  that we need to connect to a Kubernetes Cluster to convert an Object Kind (singular) to Object Name (plural) because the dynamic client-go needs it to List the current Resources of the cluster:

https://github.com/rikatz/kubepug/blob/v1.0.1/pkg/kubepug/k8sdeprecated.go#L43-L44

But, what happens is that we don't really need this information until we decide t

[2020-05-30 20:16] rikatz commented on #65
@estahn as the above issue, I've found some logics issues that will demand some program rewriting to allow other sorts of input. This can be followed in #77

As this is ready and I really hope this doesn't take so much time, it will be much easier to implement whatever input reader for Kubepug, being file the first but also, I don't know maybe reading from a GitRepo, etc, as this is going to becam

[2020-06-08 01:13] rikatz commented on #65
@estahn Hello :wave:

I've finished the main refactoring and also put the file parser to work, it's in https://github.com/rikatz/kubepug/tree/refactor-1

Can you please compile this and make some tests? I still have to perform some cleanup in the code, and the flags might change.

I'll also write in a near future a form to detect if the input file is a YAML or a JSON, but right now it only support

[2020-06-08 01:14] rikatz commented on #72
Hey @codescalar :wave:

Just passing here to let you know that I didn't forgot about this. I was refactoring the whole thing here to allow input files and then dealing with this also became easier :)

I'll probably solve this next weekend.

Thank you

[2020-06-08 01:26] #77 closed

[2020-06-08 11:34] estahn commented on #65
@rikatz Looks good, see script below to run it on the stable charts. Would be good to change exit code if failure are found so it can be used to fail CI.

[code]

[2020-06-08 11:51] rikatz commented on #65
Try calling with —error-on-deprecated —error-on-deleted and it should return an Exit Code 1

[2020-06-08 12:36] estahn commented on #65
@rikatz I get `time="2020-06-08T22:35:54+10:00" level=warning msg="YAML file does not contain apiVersion or Kind: /tmp/buildkite.yaml  Skipping to next"` for some of them.

[2020-06-08 12:42] rikatz commented on #65
Can you please post the content of /tmp/buildkite.yaml?

As kubepug reads all of the files from the directory you're pointing into (it seems to be --input-file /tmp' it can parse buildkite.yaml as a YAML file but as it doesn't contains basic fields needed to check if the object is deprecated (apiVersion and Kind) it will issue a warning :)

[2020-06-08 12:45] estahn commented on #65
[code]

I adjusted my script as follows:
[code]

[2020-06-08 12:47] estahn commented on #65
@rikatz Ah, I guess it's for the first block which is a `WARNING`.

[2020-06-08 16:58] rikatz commented on #65
exactly :)

The thing is that I didn't realized yet how to skip only a block and not the whole YAML file, as the yaml parser deals with multi document in a different way. Will have to dig a little bit deeper, but right now if you have a YAML file with multiple documents and one not valid to kubernetes the whole file will be ignored :)

I'll probably make some further minor improvements this week a

[2020-06-08 17:00] rikatz commented on #65
Well, got an idea of maybe convert the whole file to the struct and then deal with the invalid entries in the struct.

Will try that later

[2020-06-09 14:44] codescalar commented on #72
Thanks @rikatz!

[2020-06-11 07:58] yogeek opened #79 "False positive detected deprecation ?"
Hi and thanks for this useful krew plugin :)

I just installed it and when I test it on my 1.16.6 cluster, I am not sure to understand the output.

[code]

The plugin indicates multiple deprecated version, here is an extract of the output :
[code]

But when I display the apiVersion of some of the detected objects, it seems to already be in the right API version :
[code]

Did I misunderstand someth

[2020-06-11 10:52] rikatz commented on #79
Hi @yogeek and thanks for the issue :)

You're right, this is a false positive. This has been already mapped in #72 and it's in my backlog.

I'm finishing to re-structure the code so it will be easier to put each behavior in each input format, as this is a false positive when you're using a k8s cluster but not when you're using an input file :)

I'll keep this open just to make sure those are the

[2020-06-14 16:24] rikatz commented on #65
Fixed in #78

I'm opening a new issue for now just to deal better with the YAML parser. I've taken a look into the parser from the kubectl program and the behavior is the same: if you have a file with multiple documents and one is invalid, it halts the processing of everything else so because of the yaml parser (the go library) it might be a bit complicated to deal with that. But I'll open that is

[2020-06-14 16:24] #65 closed

[2020-06-14 16:25] rikatz opened #80 "JSON Parser"
As per #65 it would be nice to also parse json files. Don't know if people still uses it as input for kubernetes, but who knows :man_shrugging:

So this is an improvement

[2020-06-14 16:27] rikatz opened #81 "Improve YAML parser"
Yaml parser halts when a file with multiple documents got only one invalid document in the middle.

kubectl also behaves like that, so it's not something in the go-yaml library that would solve this BUT I can try:

got an idea of maybe convert the whole file to the struct and then deal with the invalid entries in the struct.

[2020-06-14 16:28] rikatz commented on #79
@yogeek I'm closing this in favor of #72 but please feel free to reach me or reopen if you think those are different issues :)

Thank you

[2020-06-14 16:28] #79 closed

[2020-06-14 17:13] yogeek commented on #79
Hi @rikatz ! Just a quick question : after I opened this issue, I noticed that the resource apiVersion was indeed rbac.authorization.k8s.io/v1 but the "last-applied" configuration apiVersion was in beta... Does it mean the YAML that were applied to the cluster contained 'beta' but during the apply, kubernetes modified it to set the 'v1' apiVersion ? Is it possible ?
And do your tool look at the re

[2020-06-14 17:38] rikatz commented on #72
Well, the guessing here is pretty "hard" as I need to cross between each deprecated object and if it exists in some different API :/

I'm thinking about using the discovery library to feed the API with another struct containing all the preferred names and when something from swagger.json is found, check if there's that same resource name as an stable version.

The final movement is to check if the

[2020-06-14 18:22] rikatz commented on #79
Hey @yogeek

About the last-applied, it's an annotation containing the marshalled JSON used to apply to kube-apiserver but AFAIK annotations are just metadata put by the object owner (like the user, the developer) or by the controller to represent something. It shall not be used to control the behavior of the object in the cluster, EXCEPT in cases like Ingress Controllers that still uses annotatio

[2020-06-17 12:13] estahn commented on #65
@rikatz Do you want to cut a new release so we can start using the yaml input?

[2020-06-17 12:34] rikatz commented on #65
Yes, I'll do this today :)

[2020-06-17 12:35] #72 closed

[2020-06-18 02:53] estahn opened #83 "Feature: GitHub Action"
A GitHub action to simplify usage in CI would be great.

Just did a quick test with the following:
[code]

I probably should provide the kubernetes version to helm as well.

[2020-06-23 18:52] rikatz commented on #83
Got it, it's on backlog now :D

I'll prioritize now putting some unit tests first, as I've missed them a lot when refactoring things and then move into this :)

If you want to catch this one and maybe open a PR, go ahead :D

[2020-06-24 02:55] rikatz opened #87 "Update README.md"
We got some brand new arguments, a better application that have multiple inputs and outputs so why not update the README.md and maybe also create a page for this? ;)

[2020-07-08 23:22] estahn opened #91 "Regression in 1.1.0"
Updated to 1.1.0 and now it doesn't find the deprecations anymore.

![image](https://user-images.githubusercontent.com/362174/86979823-98882a00-c1c5-11ea-957b-55ff531ca7f3.png)

[2020-07-09 00:45] estahn commented on #91
Never mind... it related to #82

[2020-07-09 00:45] #91 closed

[2020-07-09 01:09] estahn opened #92 "kubepug is not finding deprecated APIs"
@rikatz With implementing #82 we're not able to see deprecations anymore. Thinking about the implementation I was wondering how is `kubepug` able to identify deprecations as in my mind the Kube API will return whatever object you're requesting but not the original source, is that assumption correct?

I was wondering if you could read from `metadata.annotations."kubectl.kubernetes.io/last-applied-c

[2020-07-09 18:47] rikatz commented on #92
Yep, I'm taking a look at it.

A simple test I'm making is create a Ingress object in k8s 1.14 (which have this as preferred in extensions/v1beta1) and then running pug with swagger from master and the object is not being found.

Will see what's going on

[2020-07-10 00:34] estahn commented on #92
@rikatz I wrote a little helper script to work around the issue. I don't think it's possible to directly retrieve the resource that was applied. As far as I understand Kubernetes keeps an internal state and the Kubernetes API will return that internal state based on what you're requesting, e.g. `extensions/v1beta1` or `apps/v1`. The only way I have found to retrieve what was applied is through the

[2020-07-15 01:41] rikatz commented on #92
@estahn Tks for helping in this :)

Yeap, the problem is that annotations, IMO are not a trusted source of information, as they might be changed and masquerade some real information. As far as I remember, those are also added with kubectl apply but maybe not created with kubectl create so this might be a problem.

I'm sorry about taking so long to take a look at this, but thinks at job are in a ru

[2020-07-19 19:22] rikatz commented on #92
I'll write here so I wont forget :)

I'm using now a method called ``ServerPreferredResources`` from client-go that finds each preferred API GroupVersion for each object, but it seems that while some are returned well, others aren't. As an example:

[code]

This is weird and in the same time, it makes sense as the API needs to keep the compability. Maybe one way is to index the whole group/version

[2020-07-19 20:16] rikatz commented on #87
Fixed in #97

[2020-07-19 20:16] #87 closed

[2020-07-23 02:28] #92 closed

[2020-07-31 01:50] rikatz opened #101 "Client 1.19 now support warning deprecated apis"
As per Jordan Liggitt (wont mark him here to not spam the GH box) the future client-go 1.19 now supports warning about deprecated APIs (and also the server side).

This probably will simplify a lot of things here :)

Opening the issue to keep a track and implement as soon as possible!

https://github.com/kubernetes/website/pull/21581

https://github.com/kubernetes/kubernetes/pull/73032

[2020-08-03 18:59] igaskin opened #102 "Feature request prometheus metrics for deprecation warnings"
Opening this github issue as a feature request to instrument `kubepug` with prometheus metrics.  This would allow other subsystems to consume metrics for monitoring/alerting purposes.  I realize that this would likely change the operational behavior of `kubepug` from a cli that is run adhoc to one that is run persistently.  Feel free to close this issue, if this request is out of scope of `kubepug

[2020-08-03 19:39] rikatz commented on #102
@igaskin actually, it seems pretty nice.

What if, as a first step we instrument the metric behavior as a push gateway (https://github.com/prometheus/pushgateway) sender, and then think about making kubepug later as some sort of webhook, daemon, etc?

Be my guest to open a PR, would love to have this feature :)

[2020-08-03 22:30] igaskin commented on #102
I thought about utilizing pushgateway, but was a little hesitant to pursue that as a solution since it could introduce prometheus [anti-patterns](https://prometheus.io/docs/practices/pushing/).  Let me see if I can get a POC working in my free time.

[2020-08-23 18:28] rikatz commented on #83
@estahn PTAL at https://github.com/rikatz/kubepug/pull/100 and check if this is the idea. It's really nice to see kubepug moving on, thank you for the contribution.

Also I've made some tests in https://github.com/rikatz/pug-tests/runs/1018853600?check_suite_focus=true and it seems to work as desired

[2020-08-23 18:49] rikatz commented on #101
On a first pass it seems that the k8s will return a WARNING when it receives a deprecated object (nice!), but this is going to ship into v1.19 so probably older versions will still accept deprecated objects without warnings.

I'm thinking here that kubepug idea is to verify before the upgrade, so the target object (cluster or input file) would not, right now make use of the feature because we're v

[2020-08-23 19:30] rikatz opened #107 "E2E tests"
It would be easier for me to check the behavior of kubepug if we got some nice e2e tests

## Well known versions:
* v1.14
* v1.16
* v1.18

## The input data
* Some old Ingress, Network Policy, Deployment objects
* Some CRDs file
* Some apiextension objects

## The test matrix

### Files
Test the content of the directory directly, verifying if the json output is the same as expected: Are the delete

[2020-09-04 14:38] knelasevero opened #111 "Kind List not supported"
Templates of kind list always comes back with an "deleted api" report.

Will happen if you run kubepug against yamls files like in the exemple for ResourseQuotas https://kubernetes.io/docs/concepts/policy/resource-quotas/

[2020-09-04 14:40] rikatz commented on #111
Thank you for the report! Can confirm.

This is due I try to parse the yaml, instead of using things already done by client-go or kubectl.

I'll have to dig deeper into how kubectl parses this and maybe use kubectl function instead of trying to parse everything all by myself :D

[2020-09-06 18:50] #83 closed

[2020-09-28 13:59] RudyBone opened #118 "Usage question"
We are looking at upgrading our Cluster from v1.14.9 to v1.18.0.  It's not clear to me whether I should pull the v1.14 swagger json or the v1.18 json.

[2020-09-28 14:29] rikatz commented on #118
Hello and thanks for your interest in the project.

You should use the v1.18 version (--k8s-version=v1.18.9), because you're going to validate the objects from your cluster against their existence in the v1.18.9 version.

Let me know if this answers your question :)

[2020-09-28 14:42] RudyBone commented on #118
That's what I thought, just wanted to make sure.

Thanks

On Mon, Sep 28, 2020 at 10:30 AM Ricardo Katz <notifications@github.com>
wrote:

[2020-09-28 14:46] #118 closed

[2020-10-02 17:37] RudyBone opened #120 "kubepug reports an invalid Deprecation"
Running kubepug against swagger version 1.14.9 against a 1.14.5 cluster  I get list of deprecations against my deployments complaining that my deployments are found in extensions/v1beta1  which is simply not true.  ALL of my deployment yamls specify apps/v1 as the apiVersion.  Are you running kubectl under the covers because kubectl makes the same mistake when I do:

kubectl get deployments -o yam

[2020-10-03 01:24] rikatz commented on #120
Yes, I do not run kubectl under the hood, but I use client-go which uses the returned preferred apiVersion from the apiServer.

Kubernetes 1.14 still uses extensions/v1beta1 as preferred API and that's why apiServer will always return deployments this way in this version, even if you create them as apps/v1.

The same happens today with Ingress in version v1.19 (PTAL https://kubernetes.slack.com/ar

[2020-10-05 13:17] RudyBone commented on #120
Ricardo,

I believe you are conflating 'preferred version' with preferred api.  The
former is actually returned in the json spec for a given api; e.g. both the
apps and extensions api's support multiple versions, but only a single
version is preferred for each api; v1 for apps and v1beta1 for extensions.
The only place where I have ever found a 'preferred' API is in the API
Reference pages
https:/

[2020-10-06 14:11] rikatz commented on #120
hum I promise will take a look this week(end) :)

Thank you for reporting!

[2020-10-30 19:22] rikatz commented on #120
Hello, sorry for the long delay. I've been caught in some other current job issues :/

[2020-11-15 18:56] rikatz commented on #101
Closing, as this for now is not applied because depends of the return of the server (v1.19+)

[2020-11-15 18:56] #101 closed

[2020-12-07 11:11] nohaj opened #135 "Can't get "--input-file" to work"
Hello,

I tried to use the --input-file option with a single file, a folder or things like "cat *.yaml" but it never works.

I always get :

`level=warning msg="Found invalid yaml: ./FILENAME: yaml: did not find expected node content. Skipping to next"`

For exemple with the gitlab-runner helm charts :

[code]

What am I doing wrong ?

I'm trying this option because i don't manage to have the kube

[2020-12-07 14:07] rikatz commented on #135
Hello,

Can you please post one of the yaml files in some pastebin or gist?

About the usage inside the cluster, I've never tried this approach but need to, and maybe also map some RBACs to deploy it as a job inside kubernetes :)

Thanks!

[2020-12-08 09:04] nohaj commented on #135
Hello,

You can find the files there : https://gitlab.com/gitlab-org/charts/gitlab-runner/-/tree/master/templates

It would be nice to have theses new features ! :)

Thank you

[2020-12-20 11:19] mteodori opened #139 "Incorrect usage of --api-versions helm flag in README"
See https://github.com/helm/helm/issues/9088#issuecomment-748593029

Basically `--api-versions` is supposed to have an array of the specific API names like they are returned from `.Capabilities.APIVersions`, not a K8S version as in the kubepug README

Ideally there should be an equivalent `--k8s-version` flag in helm too like in kubepug, but this is not implemented at the moment, so the only worka

[2020-12-20 20:25] rikatz commented on #139
Hi @mteodori thanks for raising this.

Can you provide me some more specific steps to reproduce, so I can take a look here? I'm shamefully not much aware of helm behavior :)

Thank you!

[2020-12-20 20:25] rikatz commented on #139
Or I can take a look into the original issue in helm :)

[2021-01-12 11:16] TheKangaroo commented on #120
I have a very similar issue (if not the same)to this one, https://github.com/rikatz/kubepug/issues/72 / https://github.com/rikatz/kubepug/issues/79 .
Let me explain with an example:
I get a bunch of warnings when running `kubectl deprecations` on my 1.17 cluster, so i dug into the first ingress object.
It turned out, I can
[code]
and
[code]
and both return the same object (via diffrent APIs, e.g.

[2021-02-04 13:45] fewkso commented on #120
I ran "kubepug --k8s-version=v1.16.15" against many 1.15.12 clusters and all extensions/v1beta1 resources show up as deprecated and not deleted.

I don't know if this is caused by 1.15 supporting both apps/v1 and extensions/v1beta1 apis but it cause bad surprises since all seemed well and k8s was updated without any problems and everything kept working afterward, until we tried to update helm char

[2021-02-04 13:50] rikatz commented on #120
hey folks.

I'm really sorry about taking that long to answer this issue here, I'm crowded with some things of my day job.

@fewkso thank you for the heads up. What happens usually is that the apiServer returns a prefered version, which might be different from what pug considers stable or deprecated.

I'll take a look to see how to evolve this

Thank you all for reporting and sorry again for the l

[2021-05-06 13:36] ninlil commented on #120
This issue is really annoying (and tricky to solve, i've tried as well)

I'm instead using the following command/script:
[code]
This lists the ingresses (swap type to whatever you want) and extracts the apiVersion from the last-applied-configuration for each resource

[2021-05-28 01:38] danielhoherd commented on #139
@rikatz [here is a link to the `helm template` documentation](https://helm.sh/docs/helm/helm_template/#options) where you can see:

It would be possible to generate this stringArray from the swager spec, but not trivial so I do not have a working example of how to do so.

I agree that helm really should have a `--k8s-version` type of flag, since most people will be selecting that vs individual api

[2021-06-02 23:26] danielhoherd commented on #135
@rikatz given that several people (myself included) are reporting problems with yaml files, would it make sense to have some tests that run in CI against problematic yaml files one at a time? People could make PRs with their problematic files and others could either point out their problem or they would become valid test cases against kubepug.

[2021-06-03 01:36] rikatz commented on #135
Yes sure! Would love to see this! Sorry folks I've been pretty busy but want to start smashing those bugs again :)

[2021-07-19 16:16] gilgougnot opened #183 "Add link to the release page in the documentation"
In the readme file, on [How to use it as standalone program](https://github.com/rikatz/kubepug/blob/main/README.md#how-to-use-it-as-a-standalone-program), it says

There is no mention of where this release page is, so the user does not know from where it needs to download the software.

Acceptance criteria:
the user see a link to the URL pointing to the release page on the words "Releases page"
Wh

[2021-08-29 03:52] sammcj opened #191 "Can't install plugin on Apple Silicon based mac"
Looks like the plugin might be build for intel only:

[code]

[2021-09-24 20:06] Mercbot7 opened #196 "swagger url incorrect"
While trying to check deprecations I am receiving error:

[code]
The issue here is that the url is incorrect.

The correct path is:

[code]
The `v` before the version is missing

in the [downloader.go](https://github.com/rikatz/kubepug/blob/main/pkg/utils/downloader.go) utility it shows:

https://github.com/rikatz/kubepug/blob/9f4a2a2737c7d4755600a9bd2defb76180e5dbf7/pkg/utils/downloader.go#L13-L1

[2021-09-27 12:01] rikatz commented on #196
Hum, maybe they have changed this.

Let me take a look. If you can also provide a PR, would be more than welcome :D

[2021-09-27 12:04] rikatz commented on #191
https://github.com/rikatz/kubepug/commit/bcc024854f5b538aa046043d88266e449704c632

Added to go-releaser, let's see if this builds fine :)

Thanks for using the project!

[2021-09-28 06:35] Morishiri commented on #196
It says in the [readme](https://github.com/rikatz/kubepug#checking-a-kubernetes-cluster) to use the version with `v`.

It works for me when used like this:
[code]

[2021-09-28 16:59] Mercbot7 commented on #196
@Morishiri @rikatz Sorry for making an issue out of nothing. If i had RTFM this would not even exist. Sorry about that. Iam closing this issue and apologize for wasting your time.

[2021-09-28 16:59] #196 closed

[2021-09-28 17:18] rikatz commented on #196
No need to be sorry :) thanks for using the project :)

[2021-10-08 16:27] jackwhelpton opened #197 "Binary assets missing for 1.2.0+"
The instructions for using KubePug as part of a CI pipeline suggests downloading:

https://github.com/rikatz/kubepug/releases/latest/download/kubepug_linux_amd64.tar.gz

This redirects to:

https://github.com/rikatz/kubepug/releases/download/v1.2.1/kubepug_linux_amd64.tar.gz

which gives a 404. I suspect this is because the binaries have not been generated for 1.2.0 or 1.2.1. The following works:

[2021-10-17 20:19] Monta89 commented on #120
has this issue been resolved ?

[2021-10-30 12:36] rikatz commented on #197
gonna work on this right now :D

[2021-10-30 12:51] rikatz commented on #197
Hey,

I have released v1.2.2, now supporting the Apple M1 :) and the assets are there.

Can you please check and let me know?

Thanks!

[2021-10-30 12:51] rikatz commented on #191
Hey,

I have released v1.2.2, now supporting the Apple M1 :) and the assets are there.

Can you please check and let me know?

Thanks!

[2021-10-30 12:52] rikatz commented on #183
hey, thanks for the suggestion :)

do you mind opening a PR for README? Otherwise I can do that, but probably later this week

Thanks!

[2021-10-30 12:52] #107 closed

[2021-10-30 12:52] #27 closed

[2021-10-30 12:53] #80 closed

[2021-10-30 12:53] #197 closed

[2021-10-30 12:53] #191 closed

[2021-10-30 21:03] jackwhelpton commented on #197
lgtm, thanks!

[2021-10-31 07:09] eyenx commented on #197
Thanks @rikatz

[2021-10-31 08:34] sammcj commented on #191
Thanks!

Unfortunately v1.2.2 looks to still have the issue:

[code]

[code]

[2021-11-01 02:33] gilgougnot commented on #183
hi there sorry but i can not.
I wanted to test your tool (back in july) but could not install it as I did not find this release page.
This is really stupid blocker I would say, that s why I opened this issue.

[2021-11-25 11:08] fredgate commented on #120
This works only for resources installed with kubectl, but not for them installed with Helm.

[2021-11-28 19:04] rikatz commented on #135
Hey folks, took the day to debug this. Apparently there is something wrong with the manifest that is making yaml parser get lost.

I'm trying to figure out in which part it is problematic, and will fix here.

Thanks for reporting this!

[2021-11-28 22:39] rikatz commented on #135
So  we have two different problems :)

* YAML parsing is hard... (to not say other word!) but now it's working. I did reduced the logging threshold when parsing the YAML file kind and apiVersion to info, as it's not quite true.

Still, I fixed some things on the yaml parsing, moving the spliting from the library directly to bytes (everytime --- is found we know there is a new file). It's working f

[2021-11-28 23:59] rikatz commented on #120
gonna look this next :)

[2021-11-29 00:08] rikatz commented on #120
@fredgate Thanks for the idea. Using the annotations actually is "bad", as far as I remember those are used via kubectl apply (but not via kubectl create, as an example).

@RudyBone seems reasonable, following the swagger JSON spec until you find the right version. I remember that there is something (need to read here again on the kubernetes api spec) that turns different what you get from the API

[2021-11-29 00:48] #135 closed

[2021-11-29 00:49] rikatz commented on #135
Will make a new release today! Let me know if this problem is solved folks.

This gave me some idea of having kubepug also testing helm charts directly (like, you point to some chart, it downloads, renders and attempts to verify) but no promises, as I'm getting a ton of other stuff to do :(

If someone wants to play/try implementing this, LMK and I can help :)

[2021-11-29 01:18] #111 closed

[2021-11-29 01:20] rikatz commented on #183
Fixed in https://github.com/rikatz/kubepug/commit/42529d7c573cbc2f5cb8d4810b715b29b76e0289

[2021-11-29 01:20] #183 closed

[2021-11-29 01:21] rikatz commented on #81
Fixed in #209

[2021-11-29 01:21] #81 closed

[2021-11-29 01:51] rikatz commented on #120
swagger.json wont be helpful in this case.

@RudyBone I remember now, that the idea of PreferredResources is what the APIServer will serve preferentially, even if it is deprecated.

I'm still looking into the Discovery Library (https://pkg.go.dev/k8s.io/client-go/discovery) to see if there is some way of fixing this, but as far as I remember preferred versions comes from: https://github.com/kubern

[2021-11-29 08:14] mouhsen-ibrahim opened #211 "Failed to create the K8s client while listing Deprecated objects"
Hi I just installed the latest version of `kubepug`

[code]

When I try to use it on my kubernetes cluster I get this error

[code]

It was working before I install the latest version, my cluster is operational and here is the version

[code]

[2021-11-29 11:50] rikatz commented on #211
Oh did I added a recursion? 🤦‍♂️ let me check here

[2021-11-29 11:59] rikatz commented on #211
@mouhsen-ibrahim I trieed here in my local KinD cluster and everything just works :(

Can you please paste somewhere the output of `./kubepug --verbosity=debug` ?

Thanks!

[2021-11-29 12:02] rikatz commented on #211
While that, I will release a new kubepug version with better error outputing

[2021-11-29 12:03] mouhsen-ibrahim commented on #211
@rikatz thanks for your response, I need first to have a look at the output and make sure it is safe to share outside my company after that I can post it here. Thanks again and have a nice day

[2021-11-29 12:05] rikatz commented on #211
No worries @mouhsen-ibrahim

Instead, wait until I release this new version with better outputing (doing this right now!) and LMK

[2021-11-29 12:11] rikatz commented on #211
I just released v1.3.1 (go releaser is running), so as soon as this is released, if you can run it again at least we will have the error output of k8s client (why it cannot connect!)

No need to send me the debug :)

[2021-11-29 12:31] mouhsen-ibrahim commented on #211
@rikatz here is the new error output

[code]

[2021-11-29 14:09] rikatz commented on #211
https://github.com/rikatz/kubepug/pull/213 :)

In some moment we removed the auth plugins, not sure when it happened... Readding should fix this!

Thanks for reporting!

[2021-11-29 14:28] rikatz commented on #211
Fixed by #213
/close

[2021-11-29 14:28] #211 closed

[2021-11-30 01:33] agutoli opened #215 "Invalid VerticalPodAutoscaler deprecation"
Hello, currently I use this plugin to validate local k8s manifest files which works pretty well. I realised last updates probably introduced an issue with k8s `v1.18.0` + `autoscaling.k8s.io/v1beta2` VPA.

It says that k8s `v1.18.0` removed `autoscaling.k8s.io/v1beta2`, but actually it supposed to be delete next k8s versions.

kubectl-deprecations --k8s-version v1.18.0 --input-file datadog-v7/agen

[2021-12-13 02:18] rikatz commented on #215
Hello thanks for the issue. Will take a look later this week to see if this is a well known problrm :/

thanks!

[2021-12-14 04:09] praveen-kg opened #219 "Unable to run KubePug with openshift"
Hi, I am running KubePug against 3.11 Openshift cluster ( kubepug --k8s-version=v1.22.0)  and I am seeing below error:
Failed communicating with k8s while discovering the object preferred name and gv. Error: unable to retrieve the complete list of server APIs: metrics.k8s.io/v1beta1: the server is currently unable to handle the request, servicecatalog.k8s.io/v1beta1: the server is currently unable

[2022-01-11 17:04] peterjanes opened #224 ""Found invalid yaml" warnings on valid YAML with --- in a value"
I'm seeing "Found invalid yaml" warnings on input that contains `---` in a value, e.g.

[code]

[code]

This is valid YAML:

[code]

(Related: When used in a multi-document YAML file the line numbers are the same; it appears they're relative to the individual components of the multi-document YAML file, but the component that's reporting the warnings isn't identified.)

[2022-01-12 16:00] peterjanes opened #225 "kubepug doesn't find deprecated batch/v1beta1 CronJob API"
`kubepug -k8s-version v1.21.0 --input-file deprecated-cronjob.yaml --error-on-deleted --error-on-deprecated` passes for this file (using `v1.21.0`, `v1.22.0`, and `v1.23.0`) but when deploying it to a v1.21.0 cluster I get the warning `Warning: batch/v1beta1 CronJob is deprecated in v1.21+, unavailable in v1.25+; use batch/v1 CronJob`.

[code]

[2022-01-12 16:21] peterjanes commented on #225
With --verbosity debug:

[code]

Looks like the Swagger files [up to v1.23.0](https://raw.githubusercontent.com/kubernetes/kubernetes/v1.23.0/api/openapi-spec/swagger.json) don't include the "deprecated" string.

[2022-01-13 23:37] soichisumi commented on #225
Is it still difficult to fully trust the output of kubepug as conversed in the issue?

[2022-01-14 12:13] rikatz commented on #225
Hi, I will look at this during the weekend. If something changed in openapispec of v1.23, I will need to re-write those logics.

About fully trusting the output, it's also hard for me :) I rely on strings that may or may not exist, depending on who implemented that on Kubernetes API side.

Kubepugs idea was mostly using those openapi spec descriptions as a way (but not the only way) to get depreca

[2022-01-14 12:18] rikatz commented on #224
oooooooh this is bad!! thanks for raising this!

This multiple yaml in same file parsing is tricky!

Will check ASAP

[2022-01-15 04:48] soichisumi commented on #225
I saw https://github.com/kubernetes/kubernetes/issues/107498

I see that there is no information in the current schema that can reliably determine if it is deprecated or not, and it relies on the description. I understand the difficulty.
I'm looking forward to kubepug getting better and being able to bool deprecation information into schema!

[2022-02-10 15:58] goseind opened #233 "Failed communicating with k8s"
When I run `kubectl deprecations` on my clusters, I receive the following error:

`I0209 12:53:17.863265   10353 request.go:665] Waited for 1.189010251s due to client-side throttling, not priority and fairness, request: GET:https://xxxxxxx/apis/bitnami.com/v1alpha1?timeout=32s
time="2022-02-09T12:53:20+01:00" level=fatal msg="Failed communicating with k8s while discovering the object preferred nam

[2022-02-22 16:04] jcmontigny-fox opened #237 "Deprecation warning for ingress in extensions/v1beta1 while it was created using the networking.k8s.io/v1 API"
**Description**
I am running Kubernetes `v1.21` on AWS with the control plane managed by the EKS service.
I installed Grafana with a manifest that defines an Ingress using the `networking.k8s.io/v1` API.
Ingresses are then implemented as an Application Load Balancer (ALB) in AWS by the `aws-load-balancer-controller` deployment. I am running `v2.4.0` of that deployment, which is the latest version.

[2022-02-23 09:37] jcmontigny-fox commented on #237
An idea that just crossed my mind: could it be that the go library your use to connect to the cluster is an outdated version that requests Ingresses using the former `networking.k8s.io/v1beta1` api, then your code receives it using that api and finds it deprecated ?

[2022-03-02 21:00] bartwitkowski commented on #237
I have the same problem, got "Ingress found in extensions/v1beta1" but actually there is "networking.k8s.io/v1" used. This is when I use kubepug on Windows.
But in Linux all is ok (different AKS cluster).
Maybe problem with Windows binary?

[2022-03-04 13:35] jcmontigny-fox commented on #237
Ah right, I did not mention it but I was using MacOS.
I just tried on Linux (ubuntu 20.04 if that matters) and it gives me the same result as described.

[2022-03-04 18:39] taintedkernel commented on #237
I just installed kubepug and encountering the same issue, it's identifying all of the ingresses currently in my cluster.  When I do a `kubectl get ingress` I do not see any with `extensions/v1beta1` listed.  On my end, running microk8s `v1.21.9` on Ubuntu `20.04.4`, kubepug `v1.3.2`.

[2022-03-18 16:23] daxmc99 opened #241 "How this compare to kube-no-trouble?"
This is more a question than an issue.

This project seems to have some overlap with [kube-no-trouble](https://github.com/doitintl/kube-no-trouble)

The difference that I see from the outside is that this is a `krew` plugin while the other is no.
Is that the only major difference?

[2022-03-29 10:45] aleksanyan commented on #237
I have the same issue on MacOS.

[2022-03-29 11:17] aleksanyan commented on #237
I did the following changes, and eventually it works for me.
- upgraded k8s to `1.22.6`
- upgraded `go` from ~1.7 to 1.8
- reinstalled kubepug (with krew)

[2022-04-05 14:42] jeffqumata commented on #237
I'm also having this issue when connecting to a 1.21 EKS cluster from my Linux machine (Fedora) using kubepug `v1.3.3`. Any suggestions?

[code]

[code]

[2022-05-11 11:47] Dentrax opened #249 "ux: hide red section(s) if no results found"
For example, if no `Deleted APIs` or `Deprecated APIs` found, had better to not print out these sections to better UX.

![Screen Shot 2022-05-11 at 14 46 19](https://user-images.githubusercontent.com/16493751/167842252-877d3896-87f6-4d5b-9999-524ca47664fb.png)

[code]

[2022-05-17 15:56] gcbw commented on #71
Downloaded the latest release as of now https://github.com/rikatz/kubepug/releases/tag/v1.3.3

[code]

[2022-06-09 03:20] iomarmochtar commented on #237
from the kubernetes API perspective i think it was expected as per [explained here](https://github.com/kubernetes/kubernetes/issues/94761#issuecomment-691982480). you can test it by using `kubectl` it self in k8s version 1.21

[code]

i just skip for ingress detection since it will resolved in 1.22 as mentioned before.

[2022-06-15 08:15] exu opened #253 "JSON reporter for kubepug"
As a kubepug integrator I would love to parse some json report instead of terminal like text.

Haven't noticed any reporter output. Would be nice to implement such.

[2022-06-15 09:01] exu opened #254 "Invalid restuls when using `--input-file` flag"
When trying to check against yaml manifests there are no warnings

[code]

But when running kubepug without any params:
[code]
there is a lot of data

What's the difference between those 2 runs?

[2022-06-15 10:50] exu commented on #253
There is one ;) just found it

[2022-06-15 10:50] #253 closed

[2022-06-19 07:05] david1155 commented on #233
Please advise how to add an option to skip apiservices in the False state.
For example in resources.go:
[code]

[2022-06-29 09:11] marafa-sugarcrm commented on #120
any update on this?

[2022-07-01 20:13] rikatz commented on #241
kubent apparently uses rego rules: https://github.com/doitintl/kube-no-trouble/blob/master/pkg/rules/rego/deprecated-1-25.rego

kubepug uses the swagger.json from the Kubernetes API so you can see what changed and was removed between versions, pointing to a specific version.

[2022-07-01 20:13] #241 closed

[2022-07-14 16:11] TheBrunoLopes opened #264 "Running Kubepug in Kubernetes with Testkube"
Hey guys,
Have you heard about [Testkube](https://testkube.kubeshop.io/) ?
We just added a way of creating tests using Kubepug https://kubeshop.github.io/testkube/executor-kubepug/
It's very useful if you want to have automate tests around cluster upgrades.

@rikatz I would love to show this to you to see if you find it useful or if we can add any extra functionalities 😉

[2022-07-14 17:10] rikatz commented on #264
oh this is so cool!!

I'm facing some hard time to allocate and maintain kubepug, but would love to see this ongoing!! Thanks for that @TheBrunoLopes !!

[2022-07-23 07:41] TheBrunoLopes commented on #264
If kubepug is a project you started on your free time. I must give you massive congratulations!
This is huge. Any chance we could have chat about our integration and kubepug in general https://calendly.com/bruno-at-kubeshop/30min-1 ?

[2022-07-24 21:24] rikatz commented on #264
sure, let me take a look here :)

[2022-08-26 13:11] caruccio opened #281 "SEGFAULT running against kubernetes 1.15"
Kubepug 1.3.x works.
Kubepug 1.4.0 segfaults. Tested only against old k8s-1.15.

[code]

[2022-08-26 17:59] tpsimoes opened #282 "Not detecting Deprecated API CronJob"
tpsimoes  ~/cluster-ing-121  kubectl get --raw=/apis/batch/v1beta1
{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"batch/v1beta1","resources":[{"name":"cronjobs","singularName":"","namespaced":true,"kind":"CronJob","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cj"],"categories":["all"],"storageVersionHash":"h/JlFAZkyyY="},{"name":

[2022-09-08 09:22] lunderhage opened #287 "No release of plugin for linux/arm64"
There is no installation candiate for linux/arm64:

[code]

There is a growing number of users on non-intel platforms such as Apple Silicon, Raspberry Pi etc.

Please make a release of this excellent plugin for linux on arm64!

[2022-09-21 08:59] patsevanton opened #293 "Support Snap package"
Hello! Thanks for [kubepug](https://github.com/rikatz/kubepug)
Could project create snap package?

[2022-09-21 10:18] patsevanton commented on #237
How skip check extensions/v1beta1 ?

[2022-11-21 10:08] kierenj opened #319 "panic on Windows in fixDeletedItemsList (invalid memory address or nil pointer dereference)"
[code]

Commandline: `kubepug`

Result:

[code]

[2022-11-22 11:29] hobti01 commented on #139
Unfortunately, the helm `--kube-version` argument does not work like kubepug `--k8s-version`.

KubePug uses `--k8s-version` to determine the swagger.json for the requested Kubernetes version and from there extracts all the supported API Versions.

Helm on the other hand simply uses `--kube-version` [as the value for](https://github.com/helm/helm/commit/47c8f48f209f363807c8fb9f17ef072d7ae32139#diff